*{
    box-sizing: border-box;
    font-size: 16px;
    font-family: sans-serif;
}
html,body{
    position: relative;
    height: 100%;
    color: white;
}
#nav-bar{
    z-index: 9998;
    top: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    height: 50px;
    width: 100%;
    line-height: 50px;
    background-color: #148FDD;
    color: white;
}
#nav-bar a{
    display: inline-block;
    padding-right: 5px;
    padding-left: 5px;
    text-decoration: none;
    color: white;
    transition: 1s;
}
#nav a:hover{
    text-decoration: underline;
}
#nav div{
    display: inline-block;
}
#cookie{
    margin-right: 30px;
}
#board{
    position: fixed;
    top: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
    background-color: rgba(255,255,255,0.5);
    opacity: 1;
}
#warning{
    width: 400px;
    height: 200px;
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
    padding: 30px;
    background-color: white;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.4),0 -1px 1px rgba(0,0,0,0.4);
}
#decrationbar{
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    height: 45px;
    border-radius: 8px 8px 0 0;
    background-color: #148FDD;
}
#warning .text{
    margin-top: 50px;
    color: #000;
    opacity: 0.7;
    font-size: 23px;
    font-weight: bold;
}
#warning button{
    height: 40px;
    width: 100px;
    border: none;
    border-radius: 4px;
    color:white;
    font-weight: 300;
    background-color: #148FDD;
}
#container{
    width: 1040px;
    margin:0 auto 0 auto;
    padding: 0 30px 30px 30px;
    box-shadow: 2px 0 5px #959595,-2px 0 5px #959595;
    background-color: white;
    color: black;
}
#sidebar{
    z-index: 9998;
    position: fixed;
    top: 70px;
    left: 10px;
    width: 70px;
    border-radius: 13px;
    background-color: #36a9dd;
    text-align: center;
}
#sidebar a{
    display: block;
    margin: 30px 0;
    text-decoration: none;
    color: white;
    font-size: 12px;
}
#sidebar a:last-of-type{
    margin-top: 300px;
}
form{
    position: relative;
    font-weight: bolder;
    color: #3D3D3D;
}
legend{
    margin-left: 50px;
    color: #535353;
    font-size: 40px;
}
fieldset{
    border:3px solid gray;
    text-align: center;
}
#form fieldset>div:nth-of-type(1),
#form fieldset>div:nth-of-type(2),
#form fieldset>div:nth-of-type(3),
#form fieldset>div:nth-of-type(4),
#form fieldset>div:nth-of-type(5){
    margin:15px;
}
#form fieldset>div:nth-of-type(1){
    margin-top: 40px;
}
input[type="text"]{
    height: 35px;
    padding: 5px 10px;
    border: #4D5557 2px solid;
    border-radius: 5px;

}
input[type="submit"]{
    width: 280px;
    height: 50px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    background-color: #148FDD;
    font-size: 20px;
    color: white;
}
input[type="time"],
select{
    border: #4D5557 2px solid;
    border-radius: 5px;
}
.table fieldset{
    padding:30px 10px 30px 10px;
}
table{
    border-collapse: collapse;
    margin: 0 auto;
}
td,
th
{
    font-size: 16px;
    line-height: 30px;
    border: gray solid 2px;
    padding: 5px;
    word-break: keep-all;
    white-space:nowrap;
}
tbody td:nth-last-child{
    padding: 2px 3px;
}
td a{
    display: inline-block;
    height: 25px;
    width: 60px;
    line-height: 25px;
    background-color: #ff4238;
    color: white;
    border: none;
    border-radius: 3px;
    text-decoration: none;
    font-weight: normal;
}
td a:nth-of-type(1){
    margin-right:  5px;
    background-color: #148FDD;
}
a.cancel{
    background-color:gray ;
}