<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>光电科学系实验选课系统</title>
    <link rel="stylesheet" href="../static/css/normalize.css">
    <link rel="stylesheet" href="../static/css/student.css">
    <link rel="shortcut icon" href="../static/image/icon.ico">
    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
</head>
<body>
    <div id="nav-bar">
        <div id="date"></div>
        <div id="nav">
            <div id="cookie"></div>
            <div>
                <a href="#"></a>
                <a  href="{{ url_for("login") }}" id="logout"><i class="fa fa-sign-out"></i>注销</a>
            </div>
        </div>
    </div>
    <div id="board">
        <div id="warning">
            <div id="decrationbar"></div>
            <p class="text"></p>
            <p><button>确定</button></p>
        </div>
    </div>
    <div id="container">
        <form id="mylesson" class="table">
            <fieldset>
                <legend>我的实验</legend>
                <table v-if="myexperiments.length > 0" >
                    <thead>
                        <tr>
                            <th>实验序号</th>
                            <th>实验名称</th>
                            <th>实验地点</th>
                            <th>实验人数</th>
                            <th>实验时间</th>
                            <th>教师姓名</th>
                            <th>联系方式</th>
                            <th>操作方式</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="(myexperiment,index) in myexperiments">
                            <td>{[index+1]}</td>
                            <td>{[ myexperiment.classname ]}</td>
                            <td>{[ myexperiment.classroom]}</td>
                            <td>{[ myexperiment.students.length || "0" ]}/{[myexperiment.stu_num]}</td>
                            <td>{[ myexperiment.start_time ]}</td>
                            <td>{[ myexperiment.teacher.name ]}</td>
                            <td>{[ myexperiment.tel ]}</td>
                            <td><button type="button" v-if="!myexperiment.available && myexperiment.available != undefined" style="backgroundColor:gray" >截止</button>
                                <button type="button" v-else  v-on:click="del(myexperiment)">取消</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div v-else style="font-size: 30px">您尚未选择实验！</div>
            </fieldset>
        </form>
        <form id="alllesson" class="table">
            <fieldset>
                <legend>全部实验</legend>
                <table v-if="allexperiments!=null">
                    <thead>
                        <tr>
                            <th>实验名称</th>
                            <th>实验地点</th>
                            <th>教师姓名</th>
                            <th>联系方式</th>
                            <th>操作方式</th>
                        </tr>
                    </thead>
                    <tbody v-for="(allexperiment,key) in allexperiments">
                        <tr>
                                <td>{[key]}</td>
                                <td>{[ allexperiment.classroom]}</td>
                                <td>{[ allexperiment.teacher]}</td>
                                <td>{[ allexperiment.tel ]}</td>
                                <td>
                                    <button v-if="allexperiment.selected ==1" type="button" style="backgroundColor:gray">已选</button>
                                    <span v-else>
                                        <button v-if="allexperiment.showed == false" type="button"  v-on:click="allexperiment.showed = true" style="backgroundColor: #148FDD">查看</button>
                                        <button v-else type="button"  v-on:click="allexperiment.showed = false" style="backgroundColor:  #ff4238">取消</button>
                                    </span>
                                </td>
                            </tr>
                            <tr style="color:#ff4238" class="slidedown" v-for="(lesson,index) in allexperiment.lessons" v-if="allexperiment.showed">
                                <td >{[index+1]}</td>
                                <td   colspan="2">{[lesson.start_time]} </td>
                                <td  >已选{[lesson.students.length||"0"]}人/总共{[lesson.stu_num]}人</td>
                                <td >
                                    <button type="button" style="background: gray" v-if="lesson.available == false">截止</button>
                                    <template v-else>
                                        <button type="button" style="background: gray" v-if="lesson.stu_num == lesson.students.length">已满</button>
                                        <button type="button" style="background: #4cdd7f" v-else v-on:click="add(lesson)">选课</button>
                                    </template>
                                </td>
                            </tr>
                    </tbody>
                </table>
                <div v-else style="font-size: 30px">现在尚未添加实验！</div>
            </fieldset>
        </form>
    </div>
    <script src="https://cdn.bootcss.com/vue/2.5.17-beta.0/vue.js"></script>
    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.js"></script>
    <script src="../static/js/student.js"></script>
</body>
</html>